<h1>Lista de Usuários</h1>
<div class="w-100 d-flex flex-row-reverse  pr-1">
    <button routerLink="create" class="btn btn-primary p-2 m-1">
        Criar Novo Usuário
    </button>
</div>
<table *ngIf="responseUsers">
    <thead>
        <td>ID</td>
        <td>nome</td>
        <td>Sobrenome</td>
        <td>Avatar</td>
        <td>Ações</td>

    </thead>
    <tbody>
        <tr *ngFor="let user of responseUsers.data">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td><img class="avatar" src="{{user.avatar}}" alt=""></td>
            <td class="editar"><a routerLink="/users/update/{{user.id}}"><img src="assets/icons/lapis.svg" alt=""></a><a href=""><img src="assets/icons/deletar-usuario.svg" alt=""></a></td>
        </tr>
    </tbody>
</table>
